<div>
  <h2 class="text-2xl font-bold mb-4">Carrito</h2>
  <ul class="space-y-2">
    <li *ngFor="let item of cartItems" class="flex justify-between p-4 border rounded-md">
      <span>{{ item.nombre }}</span>
      <span>{{ item.precio| currency  }}</span>
      <input type="number"  [(ngModel)]="item.cantidad" (ngModelChange)="updateTotal()" placeholder="Cantidad" class="w-10">
    </li>
  </ul>
  <div class="mt-4 text-right">
    <span class="text-xl font-bold">Total: {{ total | currency }}</span>
  </div>
  <button (click)="onCheckout()" class="hidden mt-4 w-full py-2 bg-green-500 text-white rounded-md">Guardar Productos</button>
</div>
