<!-- <main class="sidebar">
  <div class="filter"></div>
  <div class="container-datos">
    <div class="logo-empresa">

      <div class="bg-imagen">
        <img src="" alt="">
      </div>
      <span>AUTOGEST</span>
    </div>
    <ul>
      <li *ngFor="let item of mainMenu.defaultOptions">
        <app-button-text-icon-sidebar (click)="abrirComponente()"  [mode]="'aside'" [iconLeftButton]="'uil-play'" [textButton]="item.name" [routerLink]="item.route" />
      </li>
      <li *ngFor="let item of mainMenu.accessLink">
        <app-button-text-icon-sidebar (click)="abrirComponente()" [mode]="'aside'" [iconLeftButton]="'uil-play'" [textButton]="item.name" [routerLink]="item.route" />
        <div class="opciones-menu" *ngFor="let option of item.opciones">
          <app-button-text-icon-sidebar (click)="abrirComponente()" [mode]="'aside'" [iconLeftButton]="'uil-play'" [textButton]="option.name" [routerLink]="option.route" />
        </div>
      </li>
    </ul>
  </div>

</main> -->






