<div class="container flex flex-col mx-auto p-4 space-y-4">
  <!-- Navigation buttons -->
  <div class="flex justify-center space-x-4 mb-4">
    <button class="px-4 py-2 bg-blue-500 text-white rounded-md" (click)="scrollToSection('section1')">Productos</button>
    <button class="px-4 py-2 bg-blue-500 text-white rounded-md" (click)="scrollToSection('section2')">Servicios</button>
    <button class="px-4 py-2 bg-blue-500 text-white rounded-md" (click)="scrollToSection('section3')">Empleados</button>
    <button class="px-4 py-2 bg-blue-500 text-white rounded-md" (click)="scrollToSection('section4')">Guardar</button>
  </div>

  <!-- Horizontal scroll container -->
  <div class="flex overflow-x-auto space-x-4 snap-x snap-mandatory scroll-smooth">
    <div id="section1" class="min-w-full flex-shrink-0 snap-center grid grid-cols-1 md:grid-cols-2 gap-4">
      <app-product-search (productAdded)="onProductAdded($event)" />
      <app-cart [cartItems]="cartItems" (checkout)="onCheckout()" />
    </div>
    <div id="section2" class="min-w-full flex-shrink-0 snap-center grid grid-cols-1 md:grid-cols-2 gap-4">
      <app-servicio-search (serviceAdded)="onServicioAdded($event)" />
      <app-cart-servicio [cartServicios]="cartServicios" (checkout)="onCheckout()" />
    </div>
    <div id="section3" class="min-w-full flex-shrink-0 snap-center grid grid-cols-1 md:grid-cols-2 gap-4">
      <app-search-empleados (empleadoAdded)="onEmpleadosAdded($event)" />
      <app-cart-empleado [cartEmpleado]="cartEmpleados" (checkout)="onCheckout()" />
    </div>
    <div id="section4" class="min-w-full flex-shrink-0 snap-center grid grid-cols-1 md:grid-cols-2 gap-4">
      <app-search-otros (ingresoAdded)="onIngresoAdded($event)"/>
      <app-cart-otros [cartReparacion]="cartIngreso" (checkout)="onCheckout()" />
      <button (click)="onCheckout()" class="mt-4 w-full py-2 bg-green-500 text-white rounded-md">Guardar</button>
    </div>
  </div>
</div>
