<app-registrar-diagnostico
[recepcionSeleccionada]="recepcionSeleccionada"
[citaSeleccionada]="recepcionSeleccionada_cita"
[empleadoSeleccionada]="recepcionSeleccionada_empleado"
[autoSeleccionada]="recepcionSeleccionada_auto"
[modeloSeleccionada]="recepcionSeleccionada_modelo"
[marcaSeleccionada]="recepcionSeleccionada_marca"
[choferSeleccionada]="recepcionSeleccionada_chofer"
[clienteSeleccionada]="recepcionSeleccionada_cliente"
/>

<app-registrar-ingreso
[ingresoSeleccionado]="ingresoSeleccionado"
[clienteSeleccionada]="ingresoSeleccionada_cliente"
[recepcionSeleccionada]="ingresoSeleccionada_recepcion"
[autoSeleccionada]="ingresoSeleccionada_auto"
[modeloSeleccionada]="ingresoSeleccionada_modelo"
[marcaSeleccionada]="ingresoSeleccionada_marca"
[diagnosticoSeleccionado]="diagnosticoSeleccionada"
[empleadoSeleccionada]="ingresoSeleccionada_empleado"
/>

<div class="flex">
  <article class="min-w-96">
    <header>
      <div class="relative sm:flex sm:items-center">
        <a class="flex-none text-xl font-semibold dark:text-white" href="#">CITAS</a>
        <div class="sm:hidden">
          <button type="button" class="hs-collapse-toggle p-2 inline-flex justify-center items-center gap-x-2 rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-transparent dark:border-neutral-700 dark:text-white dark:hover:bg-white/10" data-hs-collapse="#navbar-basic-usage" aria-controls="navbar-basic-usage" aria-label="Toggle navigation">
            <svg class="hs-collapse-open:hidden flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="3" x2="21" y1="6" y2="6"/><line x1="3" x2="21" y1="12" y2="12"/><line x1="3" x2="21" y1="18" y2="18"/></svg>
            <svg class="hs-collapse-open:block hidden flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
          </button>
        </div>
      </div>
    </header>
    <main>
      <div class="flex flex-col">
        <app-tarjeta-citas
        [dataCitas]="datosCitaslista"
        (btnBuscarCitaId)="citaSeleccionado($event)"
        />
      </div>
    </main>
  </article>

  <!--=============== RECEPCIÓN ===============-->

  <article class="min-w-96">
    <header>
      <div class="relative sm:flex sm:items-center">
          <a class="flex-none text-xl font-semibold dark:text-white" href="#">RECEPCIÓN</a>
          <div class="sm:hidden">
            <button type="button" class="hs-collapse-toggle p-2 inline-flex justify-center items-center gap-x-2 rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-transparent dark:border-neutral-700 dark:text-white dark:hover:bg-white/10" data-hs-collapse="#navbar-basic-usage" aria-controls="navbar-basic-usage" aria-label="Toggle navigation">
              <svg class="hs-collapse-open:hidden flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="3" x2="21" y1="6" y2="6"/><line x1="3" x2="21" y1="12" y2="12"/><line x1="3" x2="21" y1="18" y2="18"/></svg>
              <svg class="hs-collapse-open:block hidden flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
            </button>
          </div>
        </div>
    </header>
    <main >
      <div class="flex flex-col">
        <app-tarjeta-estados class="flex flex-col"
        [dataTarjeta]="datosRecepcionlista"
        (btnBuscarRecepcionId)=" recepcionSeleccionado($event)" />
      </div>
    </main>
  </article>

  <!--=============== DIAGNÓSTICO ===============-->

  <article class="min-w-96">
    <header>
      <div class="relative sm:flex sm:items-center">
          <a class="flex-none text-xl font-semibold dark:text-white" href="#">DIAGNÓSTICO</a>
          <div class="sm:hidden">
            <button type="button" class="hs-collapse-toggle p-2 inline-flex justify-center items-center gap-x-2 rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-transparent dark:border-neutral-700 dark:text-white dark:hover:bg-white/10" data-hs-collapse="#navbar-basic-usage" aria-controls="navbar-basic-usage" aria-label="Toggle navigation">
              <svg class="hs-collapse-open:hidden flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="3" x2="21" y1="6" y2="6"/><line x1="3" x2="21" y1="12" y2="12"/><line x1="3" x2="21" y1="18" y2="18"/></svg>
              <svg class="hs-collapse-open:block hidden flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
            </button>
          </div>
        </div>
    </header>
    <main >
      <div class="flex flex-col">
        <app-tarjeta-diagnostico
        class="flex flex-col"
        [dataDiagnostico]="datosDiagnosticolista"
        (btnBuscarDiagnosticoId)=" diagnosticoSeleccionado($event)" />
      </div>
    </main>
  </article>
</div>

