<article class="container-registrar">
  <div class="parte-superior">
    <h2>REGISTRAR ORDEN INGRESO</h2>
    <button (click)="cerrarComponente()">
      <i class="uil uil-x"></i>
    </button>
  </div>
  <div class="parte-inferior">
    <form (ngSubmit)="sendOrdenIngreso()" [formGroup]="formularioRegistro">
      <div class="container-grupos">
        <div class="grupo-inputs">
          <div class="bg-input">
            <div class="bg-label">
              <label for="dbMarcaAuto">Seleccionar empleado:</label>
            </div>
            <select formControlName="Empleado" [(ngModel)]="ordenIngreso.id_Empleado_Fk.id_Empleado"  name="demo" id="#">
              <option selected="selected" value="">Seleccionar</option>
              <option  *ngFor="let item of datosEmpleadolista" [value]="item.id_Empleado">{{item.nombres.toUpperCase()}} {{item.apellidos.toUpperCase()}}</option>
              </select>
          </div>
          <div class="bg-input">
            <div class="bg-label">
              <label for="dbMarcaAuto">Seleccionar cita*:</label>
            </div>
            <select formControlName="Auto" [(ngModel)]="ordenIngreso.id_Prediagnostico_Fk.id_Recepcion_Fk.id_Cita_Fk.id_Citas"  name="demo" id="#">
              <option selected="selected" value="">Seleccionar</option>
              <option  *ngFor="let item of listaCitasEntrega" [value]="item.id_Citas">{{item.id_Auto_Fk.matricula}} | {{item.id_Auto_Fk.idClienteFk.razon_Social}} | {{item.fecha}} | {{item.hora}}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="opciones-form">
        <button
          class="btn btn-success"
          role="button"
          [disabled]="!formularioRegistro.valid"
        >
          Guardar
        </button>
      </div>
    </form>
  </div>
</article>

