<table class="table table-striped table-inverse table-responsive">
  <thead class="thead-inverse">
    <tr>
      <th>
        <app-th-tables-icon-text
          [nombreTh]="'N°'"
        />
      </th>
      <th>
        <app-th-tables-icon-text
        [nombreTh]="'Cliente'"
        />
      </th>
      <th>
        <app-th-tables-icon-text
          [nombreTh]="'Descripción'"
        />
      </th>
      <th>
        <app-th-tables-icon-text
          [nombreTh]="'A. Matrícula'"
        />
      </th>
      <th>
        <app-th-tables-icon-text
          [nombreTh]="'Emp. Nombre'"
        />
      </th>
      <th>
        <app-th-tables-icon-text
          [nombreTh]="'Emp. Ape.'"
        />
      </th>
      <th >Editar</th>
      <th>Eliminar</th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor=" let item of dataOrdenTrabajo | orderListOrdenTrabajo : optionSort.property : optionSort.order">

      <td scope="row">{{item.id_Orden_Ingreso}}</td>
      <td>{{ item.id_Auto_Fk.idClienteFk.razon_Social }}</td>
      <td>{{item.descripcion_Problema}}</td>
      <td>{{item.id_Auto_Fk.matricula}}</td>
      <td>{{item.id_Empleado_Fk.nombres}}</td>
      <td>{{item.id_Empleado_Fk.apellidos}}</td>
      <td>
        <button (click)="getById(item.id_Orden_Ingreso)"  class="btn-option-table btn-editar">
          <i class="uil uil-pen"></i>
        </button>
      </td>
      <td>
        <button class="btn-option-table btn-eliminar">
          <i class="uil uil-trash"></i>
        </button>
      </td>

  </tbody>
</table>








