<table class="table table-striped table-inverse table-responsive">
  <thead class="thead-inverse">
    <tr>
      <th (click)="cambiarOrden('i')">
        <app-th-tables-icon-text
          [nombreTh]="'N°'"
        />
      </th>
      <th (click)="cambiarOrden('marca')">
        <app-th-tables-icon-text
          [nombreTh]="'Marca'"
        />
      </th>
      <th>Editar</th>
      <th>Eliminar</th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor=" let item of dataMarcaAutos | orderListMarcaAutos : optionSort.property : optionSort.order; index as i">

      <td scope="row">{{i}}</td>
      <td>{{item.marca}}</td>
      <td>
        <button (click)="getById(item.id_Marca)" class="btn-option-table btn-editar" >
          <i class="uil uil-pen"></i>
        </button>
      </td>
      <td>
        <button class="btn-option-table btn-eliminar">
          <i class="uil uil-trash"></i>
        </button>
      </td>

  </tbody>
</table>
