<article>
  <!-- <div class="modal-registro" *ngIf="showRegistro">
    <app-registro-datos-clientes-page
      (cerrarComponenteEvent)="mostrarComponente()"
    />
  </div>-->

  <header>
    <app-header-pages-configuration
      (cerrarComponenteEvent)="mostrarComponente()"
      [nombrePagina]="nombrePagina"
    />
  </header>
  <main>
    <div class="bg-container-body">
      <div class="container-body">
        <app-table-datos-choferes [dataChoferes]="datosChofereslista" />
      </div>
    </div>
  </main>
</article>
