<article class="container-registrar">
  <div class="parte-superior">
    <h2>REGISTRAR MARCA AUTO</h2>
    <button (click)="cerrarComponente()">
      <i class="uil uil-x"></i>
    </button>
  </div>
  <div class="parte-inferior">
    <form (ngSubmit)="sendMarcaAuto()" [formGroup]="formularioRegistro">
      <div class="container-grupos">
        <div class="grupo-inputs">
          <div class="bg-input">
            <div class="bg-label">
              <label for="marcaAuto">Marca*:</label>
            </div>
            <input
              [autofocus]
              formControlName="marcaAuto"
              type="text"
              id="marcaAuto"
              name="marcaAuto"
              placeholder="Registrar marca"
              required
              [(ngModel)]="marcaAuto.marca"
            />
          </div>
        </div>
      </div>

      <div class="opciones-form">
        <button
          class="btn btn-success"
          role="button"
          [disabled]="!formularioRegistro.valid"
        >
          Guardar
        </button>
      </div>
    </form>
  </div>
</article>

