<article>
  <!-- MODAL PARA EDITAR -->
  <div class="modal-update" *ngIf="showUpdate">
    <app-actualizar-modelo-autos
      (cerrarComponenteUpdateEvent)="updateComponente()"
      [modeloAutos]="modeloSeleccionada"
    />
  </div>

  <app-registro-datos-modelo-autos-page
    (cerrarComponenteEvent)="mostrarComponente()"
  />

  <app-tabla-datos-modelos-autos
    [dataModeloAutos]="datosModeloAutoslista"
    (btnBuscarMarcaId)="editarModelo($event)"
    (cerrarUpdateComponenteEvent)="updateComponente()"
  />
</article>
